In [24]:
import pandas as pd
import numpy as np
import ast
import os

In [25]:
#reading tracks data
tracks = pd.read_csv("tracks.csv", index_col=0, header=[0, 1])

In [26]:
#dropping the extra columns
basic_columns = [('album','date_released'), ('album', 'title'), ('album', 'id'),('artist', 'id'), ('artist', 'name'),('track', 'genres_all'),('track', 'title'), ('track', 'duration'),('track', 'genre_top')]
tracks = tracks[basic_columns]
tracks.columns = tracks.columns.droplevel(0)
#Assigning new names to the column
tracks.columns = ['year_released', 'album', 'album_id', 'artist_id', 'artist',  'genres_all', 'track', 'duration','genre_top']

In [27]:
#checking the size of the dataset
tracks.shape

(106574, 9)

In [28]:
#Replace blank top genres with 'N/A'
tracks['genres_all'].fillna('N/A', inplace=True)
#Replace blank top genres with 'UNKNOWN'
tracks['genre_top'].fillna('UNKNOWN', inplace=True)
tracks.isnull().sum()

year_released    36280
album             1025
album_id             0
artist_id            0
artist               0
genres_all           0
track                1
duration             0
genre_top            0
dtype: int64

In [29]:
tracks.dtypes

year_released    object
album            object
album_id          int64
artist_id         int64
artist           object
genres_all       object
track            object
duration          int64
genre_top        object
dtype: object

In [30]:
# As there are many rows for which year_released is not avaialble. we replacing it with 0 value.
tracks['year_released'] = pd.DatetimeIndex(tracks['year_released']).year
tracks['year_released'].fillna(0, inplace=True)
tracks = tracks.astype({"year_released": int})

In [31]:
#Columns that should be categories
COLUMNS_cat = ['genre_top']
for column in COLUMNS_cat:
    tracks[column] = tracks[column].astype('category')

In [32]:
# converting to numeric value
COLUMNS_int = ['duration']
for column in COLUMNS_int:
    tracks[column] = pd.to_numeric(tracks[column], errors='coerce')
    tracks[column].fillna(0, inplace=True)

In [33]:
COLUMNS_list = ['genres_all']
#for column in COLUMNS_list:
#tracks[column] = tracks[column].values.tolist()
for column in COLUMNS_list:
    tracks[column] = tracks[column].map(ast.literal_eval)

In [34]:
tracks.head()

,year_released,album,album_id,artist_id,artist,genres_all,track,duration,genre_top
track_id,,,,,,,,,
2,2009,AWOL - A Way Of Life,1,1,AWOL,[21],Food,168,Hip-Hop
3,2009,AWOL - A Way Of Life,1,1,AWOL,[21],Electric Ave,237,Hip-Hop
5,2009,AWOL - A Way Of Life,1,1,AWOL,[21],This World,206,Hip-Hop
10,2008,Constant Hitmaker,6,6,Kurt Vile,[10],Freeway,161,Pop
20,2009,Niris,4,4,Nicky Cook,"[17, 10, 76, 103]",Spiritual Level,311,UNKNOWN

In [35]:
tracks.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 106574 entries, 2 to 155320
Data columns (total 9 columns):
year_released    106574 non-null int32
album            105549 non-null object
album_id         106574 non-null int64
artist_id        106574 non-null int64
artist           106574 non-null object
genres_all       106574 non-null object
track            106573 non-null object
duration         106574 non-null int64
genre_top        106574 non-null category
dtypes: category(1), int32(1), int64(3), object(4)
memory usage: 7.0+ MB

In [36]:
unknown_genres = tracks.loc[(tracks['genre_top']=='UNKNOWN'), ['genre_top','genres_all']]
unknown_genres.head()

         genre_top         genres_all
track_id
20         UNKNOWN  [17, 10, 76, 103]
26         UNKNOWN  [17, 10, 76, 103]
30         UNKNOWN  [17, 10, 76, 103]
46         UNKNOWN  [17, 10, 76, 103]
48         UNKNOWN  [17, 10, 76, 103]

In [37]:
unknown_genres.shape

(56976, 2)

In [38]:
genres = pd.read_csv('genres.csv')
genres.head()

   genre_id  #tracks  parent          title  top_level
0         1     8693      38    Avant-Garde         38
1         2     5271       0  International          2
2         3     1752       0          Blues          3
3         4     4126       0           Jazz          4
4         5     4106       0      Classical          5

In [39]:
top_genres = genres[genres.top_level==genres.genre_id]
top_genres.head()

   genre_id  #tracks  parent                title  top_level
1         2     5271       0        International          2
2         3     1752       0                Blues          3
3         4     4126       0                 Jazz          4
4         5     4106       0            Classical          5
7         8      868       0  Old-Time / Historic          8

In [40]:
genre_top_dict = dict(zip(top_genres.genre_id, top_genres.title))
print(genre_top_dict)

{2: 'International', 3: 'Blues', 4: 'Jazz', 5: 'Classical', 8: 'Old-Time / Historic', 9: 'Country', 10: 'Pop', 12: 'Rock', 13: 'Easy Listening', 14: 'Soul-RnB', 15: 'Electronic', 17: 'Folk', 20: 'Spoken', 21: 'Hip-Hop', 38: 'Experimental', 1235: 'Instrumental'}

In [41]:
for index, row in unknown_genres.iterrows():
    
#print(index,row)
    genres_top = row['genre_top']
    genres_all = row['genres_all']

    for genre in genres_all:
        if genre in list(genre_top_dict.keys()):
            tracks.loc[index, 'genre_top'] = genre_top_dict[genre]
            
tracks.head(10)

,year_released,album,album_id,artist_id,artist,genres_all,track,duration,genre_top
track_id,,,,,,,,,
2,2009,AWOL - A Way Of Life,1,1,AWOL,[21],Food,168,Hip-Hop
3,2009,AWOL - A Way Of Life,1,1,AWOL,[21],Electric Ave,237,Hip-Hop
5,2009,AWOL - A Way Of Life,1,1,AWOL,[21],This World,206,Hip-Hop
10,2008,Constant Hitmaker,6,6,Kurt Vile,[10],Freeway,161,Pop
20,2009,Niris,4,4,Nicky Cook,"[17, 10, 76, 103]",Spiritual Level,311,Pop
26,2009,Niris,4,4,Nicky Cook,"[17, 10, 76, 103]",Where is your Love?,181,Pop
30,2009,Niris,4,4,Nicky Cook,"[17, 10, 76, 103]",Too Happy,174,Pop
46,2009,Niris,4,4,Nicky Cook,"[17, 10, 76, 103]",Yosemite,104,Pop
48,2009,Niris,4,4,Nicky Cook,"[17, 10, 76, 103]",Light of Light,205,Pop
134,2009,AWOL - A Way Of Life,1,1,AWOL,[21],Street Music,207,Hip-Hop

In [42]:
## Create a dictionary of genres genre_dict where key = genre_id : values = genre title

genre_all_dict = dict(zip(genres.genre_id, genres.title))
print(genre_all_dict)

{1: 'Avant-Garde', 2: 'International', 3: 'Blues', 4: 'Jazz', 5: 'Classical', 6: 'Novelty', 7: 'Comedy', 8: 'Old-Time / Historic', 9: 'Country', 10: 'Pop', 11: 'Disco', 12: 'Rock', 13: 'Easy Listening', 14: 'Soul-RnB', 15: 'Electronic', 16: 'Sound Effects', 17: 'Folk', 18: 'Soundtrack', 19: 'Funk', 20: 'Spoken', 21: 'Hip-Hop', 22: 'Audio Collage', 25: 'Punk', 26: 'Post-Rock', 27: 'Lo-Fi', 30: 'Field Recordings', 31: 'Metal', 32: 'Noise', 33: 'Psych-Folk', 36: 'Krautrock', 37: 'Jazz: Vocal', 38: 'Experimental', 41: 'Electroacoustic', 42: 'Ambient Electronic', 43: 'Radio Art', 45: 'Loud-Rock', 46: 'Latin America', 47: 'Drone', 49: 'Free-Folk', 53: 'Noise-Rock', 58: 'Psych-Rock', 63: 'Bluegrass', 64: 'Electro-Punk', 65: 'Radio', 66: 'Indie-Rock', 70: 'Industrial', 71: 'No Wave', 74: 'Free-Jazz', 76: 'Experimental Pop', 77: 'French', 79: 'Reggae - Dub', 81: 'Afrobeat', 83: 'Nerdcore', 85: 'Garage', 86: 'Indian', 88: 'New Wave', 89: 'Post-Punk', 90: 'Sludge', 92: 'African', 94: 'Freak-Folk', 97: 'Jazz: Out', 98: 'Progressive', 100: 'Alternative Hip-Hop', 101: 'Death-Metal', 102: 'Middle East', 103: 'Singer-Songwriter', 107: 'Ambient', 109: 'Hardcore', 111: 'Power-Pop', 113: 'Space-Rock', 117: 'Polka', 118: 'Balkan', 125: 'Unclassifiable', 130: 'Europe', 137: 'Americana', 138: 'Spoken Weird', 166: 'Interview', 167: 'Black-Metal', 169: 'Rockabilly', 170: 'Easy Listening: Vocal', 171: 'Brazilian', 172: 'Asia-Far East', 173: 'N. Indian Traditional', 174: 'South Indian Traditional', 175: 'Bollywood', 176: 'Pacific', 177: 'Celtic', 178: 'Be-Bop', 179: 'Big Band/Swing', 180: 'British Folk', 181: 'Techno', 182: 'House', 183: 'Glitch', 184: 'Minimal Electronic', 185: 'Breakcore - Hard', 186: 'Sound Poetry', 187: '20th Century Classical', 188: 'Poetry', 189: 'Talk Radio', 214: 'North African', 224: 'Sound Collage', 232: 'Flamenco', 236: 'IDM', 240: 'Chiptune', 247: 'Musique Concrete', 250: 'Improv', 267: 'New Age', 286: 'Trip-Hop', 296: 'Dance', 297: 'Chip Music', 311: 'Lounge', 314: 'Goth', 322: 'Composed Music', 337: 'Drum & Bass', 359: 'Shoegaze', 360: 'Kid-Friendly', 361: 'Thrash', 362: 'Synth Pop', 374: 'Banter', 377: 'Deep Funk', 378: 'Spoken Word', 400: 'Chill-out', 401: 'Bigbeat', 404: 'Surf', 428: 'Radio Theater', 439: 'Grindcore', 440: 'Rock Opera', 441: 'Opera', 442: 'Chamber Music', 443: 'Choral Music', 444: 'Symphony', 456: 'Minimalism', 465: 'Musical Theater', 468: 'Dubstep', 491: 'Skweee', 493: 'Western Swing', 495: 'Downtempo', 502: 'Cumbia', 504: 'Latin', 514: 'Sound Art', 524: 'Romany (Gypsy)', 538: 'Compilation', 539: 'Rap', 542: 'Breakbeat', 567: 'Gospel', 580: 'Abstract Hip-Hop', 602: 'Reggae - Dancehall', 619: 'Spanish', 651: 'Country & Western', 659: 'Contemporary Classical', 693: 'Wonky', 695: 'Jungle', 741: 'Klezmer', 763: 'Holiday', 808: 'Salsa', 810: 'Nu-Jazz', 811: 'Hip-Hop Beats', 906: 'Modern Jazz', 1032: 'Turkish', 1060: 'Tango', 1156: 'Fado', 1193: 'Christmas', 1235: 'Instrumental'}

In [43]:
def update_row(genres, genre_all_dict=genre_all_dict):
    row = []
    for genre_id in genres:
        row.append(genre_all_dict[genre_id])
    return row


tracks.rename({'genres_all' : 'genres_all_id'}, inplace=True, axis=1)
tracks['genres_all']= tracks['genres_all_id'].apply(update_row)
tracks.head(10)

,year_released,album,album_id,artist_id,artist,genres_all_id,track,duration,genre_top,genres_all
track_id,,,,,,,,,,
2,2009,AWOL - A Way Of Life,1,1,AWOL,[21],Food,168,Hip-Hop,[Hip-Hop]
3,2009,AWOL - A Way Of Life,1,1,AWOL,[21],Electric Ave,237,Hip-Hop,[Hip-Hop]
5,2009,AWOL - A Way Of Life,1,1,AWOL,[21],This World,206,Hip-Hop,[Hip-Hop]
10,2008,Constant Hitmaker,6,6,Kurt Vile,[10],Freeway,161,Pop,[Pop]
20,2009,Niris,4,4,Nicky Cook,"[17, 10, 76, 103]",Spiritual Level,311,Pop,"[Folk, Pop, Experimental Pop, Singer-Songwriter]"
26,2009,Niris,4,4,Nicky Cook,"[17, 10, 76, 103]",Where is your Love?,181,Pop,"[Folk, Pop, Experimental Pop, Singer-Songwriter]"
30,2009,Niris,4,4,Nicky Cook,"[17, 10, 76, 103]",Too Happy,174,Pop,"[Folk, Pop, Experimental Pop, Singer-Songwriter]"
46,2009,Niris,4,4,Nicky Cook,"[17, 10, 76, 103]",Yosemite,104,Pop,"[Folk, Pop, Experimental Pop, Singer-Songwriter]"
48,2009,Niris,4,4,Nicky Cook,"[17, 10, 76, 103]",Light of Light,205,Pop,"[Folk, Pop, Experimental Pop, Singer-Songwriter]"
134,2009,AWOL - A Way Of Life,1,1,AWOL,[21],Street Music,207,Hip-Hop,[Hip-Hop]

In [44]:
filepath='tracks_info.csv'
tracks.to_csv(filepath)

In [45]:
filepath= 'echonest.csv'
echonest= pd.read_csv(filepath,index_col=0, header=[1, 2])

In [46]:
echonest.head(10)

         audio_features                                                    \
           acousticness danceability    energy instrumentalness  liveness
track_id
2              0.416675     0.675894  0.634476         0.010628  0.177647
3              0.374408     0.528643  0.817461         0.001851  0.105880
5              0.043567     0.745566  0.701470         0.000697  0.373143
10             0.951670     0.658179  0.924525         0.965427  0.115474
134            0.452217     0.513238  0.560410         0.019443  0.096567
139            0.106550     0.260911  0.607067         0.835087  0.223676
140            0.376312     0.734079  0.265685         0.669581  0.085995
141            0.963657     0.435933  0.075632         0.345493  0.105686
142            0.662881     0.379065  0.823856         0.910266  0.088705
144            0.909011     0.443643  0.641997         0.924092  0.267669

                                           metadata                     ...  \
         speechiness    tempo   valence  album_date         album_name  ...
track_id                                                                ...
2           0.159310  165.922  0.576661         NaN                NaN  ...
3           0.461818  126.957  0.269240         NaN                NaN  ...
5           0.124595  100.260  0.621661         NaN                NaN  ...
10          0.032985  111.562  0.963590  2008-03-11  Constant Hitmaker  ...
134         0.525519  114.290  0.894072         NaN                NaN  ...
139         0.030569  196.961  0.160267         NaN                NaN  ...
140         0.039068  107.952  0.609991         NaN                NaN  ...
141         0.026658   33.477  0.163950         NaN                NaN  ...
142         0.079090  147.781  0.092868        2005     The Quiet Room  ...
144         0.089659  128.537  0.788251         NaN                NaN  ...

         temporal_features                                                    \
                       214        215       216       217       218      219
track_id
2                -1.992303   6.805694  0.233070  0.192880  0.027455  0.06408
3                -1.582331   8.889308  0.258464  0.220905  0.081368  0.06413
5                -2.288358  11.527109  0.256821  0.237820  0.060122  0.06014
10               -3.662988  21.508228  0.283352  0.267070  0.125704  0.08082
134              -1.452696   2.356398  0.234686  0.199550  0.149332  0.06440
139              -3.078667  12.411567  0.270802  0.272700  0.025242  0.06404
140              -0.934696  -0.260981  0.322232  0.277980  0.136747  0.07533
141              -0.457298  -0.165962  0.437503  0.307390  0.368764  0.06263
142              -1.125605   1.478418  0.215844  0.209660  0.015754  0.06921
144              -3.454056  16.247305  0.245023  0.226080  0.033509  0.07066


               220       221        222         223
track_id
2          3.67696   3.61288  13.316690  262.929749
3          6.08277   6.01864  16.673548  325.581085
5          5.92649   5.86635  16.013849  356.755737
10         8.41401   8.33319  21.317064  483.403809
134       11.26707  11.20267  26.454180  751.147705
139        2.43669   2.37265   3.897095   37.866043
140        9.86272   9.78739  21.981621  562.229431
141       11.18884  11.12621  13.481531  232.993546
142        3.91102   3.84181  12.598523  346.813049
144        2.98367   2.91301  10.123219  146.145737

[10 rows x 249 columns]

In [47]:
echonest.info

<bound method DataFrame.info of          audio_features                                                    \
           acousticness danceability    energy instrumentalness  liveness
track_id
2              0.416675     0.675894  0.634476     1.062807e-02  0.177647
3              0.374408     0.528643  0.817461     1.851103e-03  0.105880
5              0.043567     0.745566  0.701470     6.967990e-04  0.373143
10             0.951670     0.658179  0.924525     9.654270e-01  0.115474
134            0.452217     0.513238  0.560410     1.944269e-02  0.096567
139            0.106550     0.260911  0.607067     8.350870e-01  0.223676
140            0.376312     0.734079  0.265685     6.695811e-01  0.085995
141            0.963657     0.435933  0.075632     3.454935e-01  0.105686
142            0.662881     0.379065  0.823856     9.102662e-01  0.088705
144            0.909011     0.443643  0.641997     9.240917e-01  0.267669
145            0.235506     0.438672  0.487752     7.161218e-01  0.070359
146            0.532019     0.417681  0.476422     4.025004e-01  0.172105
147            0.778410     0.706681  0.866116     8.067026e-01  0.104650
153            0.988306     0.255661  0.979774     9.730057e-01  0.121342
154            0.970135     0.352946  0.023852     9.571129e-01  0.113261
155            0.981657     0.142249  0.912122     9.672940e-01  0.363510
169            0.989141     0.225978  0.722835     2.630763e-01  0.092371
170            0.886660     0.298518  0.744333     9.209505e-01  0.139587
171            0.698278     0.285816  0.213494     9.556913e-01  0.087036
172            0.815549     0.144125  0.892721     9.004301e-01  0.104703
173            0.842113     0.285293  0.564689     9.516243e-01  0.110481
174            0.367393     0.339698  0.846639     9.091862e-01  0.198944
175            0.993928     0.310090  0.952493     2.743115e-01  0.354231
176            0.833516     0.206509  0.779140     9.408411e-01  0.372311
177            0.754275     0.209113  0.579959     7.368654e-01  0.112165
178            0.995553     0.186146  0.413054     9.551374e-01  0.111716
179            0.958873     0.274609  0.989482     9.193623e-01  0.546516
189            0.993670     0.622578  0.216907     9.728700e-01  0.110989
190            0.990629     0.500753  0.371230     1.028384e-01  0.218810
191            0.982464     0.286557  0.238348     9.429369e-01  0.097493
...                 ...          ...       ...              ...       ...
124720         0.010478     0.652483  0.657498     7.098000e-07  0.701523
124721         0.067906     0.432421  0.764508     1.625500e-06  0.104412
124722         0.153518     0.638660  0.762567     5.000000e-10  0.264847
124765         0.000211     0.567435  0.828482     8.325934e-01  0.156178
124775         0.000278     0.616914  0.717437     8.492477e-01  0.140324
124784         0.233774     0.659206  0.623716     9.158724e-01  0.115816
124788         0.182181     0.660494  0.872243     8.902695e-01  0.134982
124796         0.987265     0.153698  0.238490     8.129657e-01  0.184972
124797         0.992387     0.606253  0.014608     9.611720e-01  0.082341
124808         0.166146     0.662129  0.651307     8.719606e-01  0.632039
124809         0.027364     0.548749  0.746274     5.326332e-01  0.262746
124810         0.035736     0.659453  0.823882     7.123611e-01  0.388225
124812         0.056318     0.656891  0.692750     2.532737e-01  0.252465
124814         0.053750     0.659175  0.736589     8.930654e-01  0.093664
124817         0.020151     0.539219  0.861178     6.500456e-01  0.503604
124818         0.092864     0.646080  0.772000     5.690692e-01  0.442961
124819         0.212196     0.691758  0.801736     4.266291e-01  0.231404
124820         0.059584     0.702435  0.622037     9.950796e-02  0.236370
124850         0.105487     0.690411  0.546009     2.663211e-01  0.205493
124851         0.034877     0.641127  0.594074     4.789059e-01  0.399061
124852         0.702553     0.728900  0.590636     4.150600e-01  0.118425
124853         0.020307     0.689575  0.676306     8.918173e-01  0.095915
124854         0.026545     0.667363  0.657399     3.641067e-01  0.108031
124855         0.160281     0.604249  0.554242     7.286965e-01  0.351249
124856         0.112268     0.581255  0.665963     8.530415e-01  0.100966
124857         0.007592     0.790364  0.719288     8.531136e-01  0.720715
124862         0.041498     0.843077  0.536496     8.651509e-01  0.547949
124863         0.000124     0.609686  0.895136     8.466237e-01  0.632903
124864         0.327576     0.574426  0.548327     4.528673e-01  0.075928
124911         0.993606     0.499339  0.050622     9.456767e-01  0.095965

                                           metadata  \
         speechiness    tempo   valence  album_date
track_id
2           0.159310  165.922  0.576661         NaN
3           0.461818  126.957  0.269240         NaN
5           0.124595  100.260  0.621661         NaN
10          0.032985  111.562  0.963590  2008-03-11
134         0.525519  114.290  0.894072         NaN
139         0.030569  196.961  0.160267         NaN
140         0.039068  107.952  0.609991         NaN
141         0.026658   33.477  0.163950         NaN
142         0.079090  147.781  0.092868        2005
144         0.089659  128.537  0.788251         NaN
145         0.047298  120.790  0.650452         NaN
146         0.035361  135.468  0.682397         NaN
147         0.065083  120.218  0.917613         NaN
153         0.051740   90.241  0.034018         NaN
154         0.032177   53.758  0.035632         NaN
155         0.087527   91.912  0.034325         NaN
169         0.053406   94.322  0.028347         NaN
170         0.088781   97.880  0.073548         NaN
171         0.064094  125.645  0.150599         NaN
172         0.102294  138.680  0.034916         NaN
173         0.040611  166.552  0.254299         NaN
174         0.462607   70.887  0.048243         NaN
175         0.825744   69.413  0.033402         NaN
176         0.077227  123.583  0.028144         NaN
177         0.073350   95.932  0.083330         NaN
178         0.040893   61.316  0.252819         NaN
179         0.185316   84.173  0.033208         NaN
189         0.029924   92.124  0.039641         NaN
190         0.032529  100.919  0.251232         NaN
191         0.029908  115.292  0.086137         NaN
...              ...      ...       ...         ...
124720      0.229174   94.885  0.432240         NaN
124721      0.310553  171.329  0.580087         NaN
124722      0.303372   77.842  0.656612         NaN
124765      0.042925  130.002  0.346107         NaN
124775      0.066746  116.346  0.121136         NaN
124784      0.035989   91.980  0.253408         NaN
124788      0.059301  121.978  0.422524         NaN
124796      0.041547   79.255  0.057326         NaN
124797      0.106693  109.895  0.157254  2011-09-12
124808      0.045298  129.627  0.433226         NaN
124809      0.038803  128.054  0.145142         NaN
124810      0.050564   98.562  0.346499         NaN
124812      0.129840   95.005  0.446677         NaN
124814      0.031706  119.974  0.215034         NaN
124817      0.075422  166.950  0.369779         NaN
124818      0.109521  174.059  0.710703         NaN
124819      0.058453  119.985  0.418960         NaN
124820      0.058860   96.006  0.231796         NaN
124850      0.031643   93.016  0.407481         NaN
124851      0.041473   96.007  0.643120         NaN
124852      0.037389  100.000  0.198466         NaN
124853      0.030968  120.023  0.438201         NaN
124854      0.042832  121.004  0.460545         NaN
124855      0.175388  167.975  0.402043         NaN
124856      0.041647  121.010  0.387918         NaN
124857      0.082550  141.332  0.890461         NaN
124862      0.074001  101.975  0.476845         NaN
124863      0.051517  129.996  0.496667         NaN
124864      0.033388  142.009  0.569274         NaN
124911      0.065189  119.965  0.204652  2009-10-23

                                           ... temporal_features             \
                               album_name  ...               214        215
track_id                                   ...
2                                     NaN  ...         -1.992303   6.805694
3                                     NaN  ...         -1.582331   8.889308
5                                     NaN  ...         -2.288358  11.527109
10                      Constant Hitmaker  ...         -3.662988  21.508228
134                                   NaN  ...         -1.452696   2.356398
139                                   NaN  ...         -3.078667  12.411567
140                                   NaN  ...         -0.934696  -0.260981
141                                   NaN  ...         -0.457298  -0.165962
142                        The Quiet Room  ...         -1.125605   1.478418
144                                   NaN  ...         -3.454056  16.247305
145                                   NaN  ...         -2.370693   6.712680
146                                   NaN  ...         -1.733858   2.461493
147                                   NaN  ...         -1.018361   1.332817
153                                   NaN  ...         -2.627343  13.351059
154                                   NaN  ...         -1.055168   2.316126
155                                   NaN  ...         -3.308672  15.982115
169                                   NaN  ...         -1.023657   0.209808
170                                   NaN  ...         -1.822738   6.428707
171                                   NaN  ...         -1.939490   5.043700
172                                   NaN  ...         -0.967413   3.067045
173                                   NaN  ...         -2.126132   8.699350
174                                   NaN  ...         -0.854720   0.141745
175                                   NaN  ...         -0.211616   1.058265
176                                   NaN  ...         -3.203280  11.744883
177                                   NaN  ...         -0.967429   6.552880
178                                   NaN  ...         -3.622978  41.266445
179                                   NaN  ...         -2.380992  17.376741
189                                   NaN  ...         -1.554707   8.764074
190                                   NaN  ...         -1.339171  11.847759
191                                   NaN  ...         -1.821708   7.528160
...                                   ...  ...               ...        ...
124720                                NaN  ...         -2.962043  14.564303
124721                                NaN  ...         -2.636636  12.745767
124722                                NaN  ...         -3.638680  24.848783
124765                                NaN  ...         -1.272732   3.154341
124775                                NaN  ...         -1.050777   0.817720
124784                                NaN  ...         -0.124696   0.079164
124788                                NaN  ...         -0.798290   0.648138
124796                                NaN  ...         -1.137876   1.054801
124797    A Little World (Music for Film)  ...         -0.315239  -1.296638
124808                                NaN  ...         -1.511152   9.715626
124809                                NaN  ...         -0.867479   1.961459
124810                                NaN  ...         -1.942078   6.887946
124812                                NaN  ...         -1.893243   5.852664
124814                                NaN  ...         -1.314300   7.098572
124817                                NaN  ...         -1.495543   2.581710
124818                                NaN  ...         -1.090784   1.797852
124819                                NaN  ...         -0.347010   0.206156
124820                                NaN  ...         -0.782691   0.572221
124850                                NaN  ...         -1.420229   4.657238
124851                                NaN  ...         -3.717975  23.666973
124852                                NaN  ...         -0.697902   2.312982
124853                                NaN  ...         -1.458698   7.146371
124854                                NaN  ...         -1.607810   8.394295
124855                                NaN  ...         -2.058279   7.294804
124856                                NaN  ...         -1.700543   4.593285
124857                                NaN  ...         -1.721207   4.686078
124862                                NaN  ...         -0.647897   1.282306
124863                                NaN  ...         -0.771613   1.623510
124864                                NaN  ...         -2.054143   7.927149
124911                Suicide Beauty Girl  ...         -0.215639  -0.584081

                                                                      \
               216       217       218      219        220       221
track_id
2         0.233070  0.192880  0.027455  0.06408   3.676960   3.61288
3         0.258464  0.220905  0.081368  0.06413   6.082770   6.01864
5         0.256821  0.237820  0.060122  0.06014   5.926490   5.86635
10        0.283352  0.267070  0.125704  0.08082   8.414010   8.33319
134       0.234686  0.199550  0.149332  0.06440  11.267070  11.20267
139       0.270802  0.272700  0.025242  0.06404   2.436690   2.37265
140       0.322232  0.277980  0.136747  0.07533   9.862720   9.78739
141       0.437503  0.307390  0.368764  0.06263  11.188840  11.12621
142       0.215844  0.209660  0.015754  0.06921   3.911020   3.84181
144       0.245023  0.226080  0.033509  0.07066   2.983670   2.91301
145       0.265904  0.214690  0.023281  0.06322   2.079180   2.01596
146       0.281652  0.231880  0.032892  0.06975   3.604580   3.53483
147       0.256045  0.249115  0.017340  0.08063   2.527390   2.44676
153       0.421109  0.337210  0.166476  0.06789   8.431160   8.36327
154       0.497058  0.374400  0.200337  0.06930   8.450390   8.38109
155       0.395621  0.295280  0.119966  0.06313   4.168120   4.10499
169       0.437293  0.306440  0.269858  0.06912   6.522990   6.45387
170       0.291198  0.256575  0.028013  0.06322   1.332290   1.26907
171       0.689539  0.499840  0.424720  0.07365   4.266580   4.19293
172       0.430065  0.290520  0.158747  0.06739   2.739860   2.67247
173       0.296148  0.215035  0.038338  0.06880   2.263670   2.19487
174       0.271424  0.225080  0.049242  0.06268   2.646850   2.58417
175       0.293566  0.209705  0.231250  0.06866   8.428390   8.35973
176       0.417617  0.303900  0.153613  0.06290   3.849430   3.78653
177       0.441859  0.273855  0.439945  0.06358   6.547120   6.48354
178       0.537159  0.417690  0.243638  0.06331   3.884490   3.82118
179       0.240968  0.203880  0.018570  0.06349   1.027390   0.96390
189       0.409579  0.341975  0.126129  0.06304   7.170930   7.10789
190       0.322154  0.295600  0.061573  0.07492   5.664900   5.58998
191       0.352570  0.273290  0.123981  0.06381   6.840050   6.77624
...            ...       ...       ...      ...        ...       ...
124720    0.231190  0.208570  0.015413  0.06476   1.609070   1.54431
124721    0.216887  0.192200  0.025431  0.06508   3.371970   3.30689
124722    0.218922  0.191610  0.022911  0.06381   2.368210   2.30440
124765    0.221303  0.197600  0.026276  0.06399   2.673740   2.60975
124775    0.234130  0.200680  0.020899  0.06372   1.503580   1.43986
124784    0.242924  0.179680  0.018938  0.06372   1.364220   1.30050
124788    0.181179  0.145490  0.006502  0.06186   1.009840   0.94798
124796    0.299958  0.208005  0.059155  0.06195   2.230480   2.16853
124797    0.832046  0.508710  0.734848  0.06295   5.147530   5.08458
124808    0.230728  0.208210  0.012164  0.06190   1.345120   1.28322
124809    0.251088  0.217735  0.024782  0.06395   2.655370   2.59142
124810    0.233040  0.194100  0.015041  0.06753   2.110340   2.04281
124812    0.216585  0.177210  0.018382  0.06372   2.995240   2.93152
124814    0.280865  0.247660  0.024981  0.06422   1.240860   1.17664
124817    0.235281  0.191840  0.015811  0.06082   1.451700   1.39088
124818    0.250881  0.199180  0.021957  0.06354   2.193790   2.13025
124819    0.237182  0.191340  0.014836  0.06376   1.208070   1.14431
124820    0.245464  0.191885  0.020652  0.06240   1.207070   1.14467
124850    0.256760  0.278710  0.010547  0.06363   0.805220   0.74159
124851    0.227583  0.190480  0.010704  0.06367   0.997780   0.93411
124852    0.209853  0.172240  0.009391  0.06331   1.066670   1.00336
124853    0.204167  0.218410  0.007436  0.06045   0.894380   0.83393
124854    0.199521  0.167825  0.015672  0.06458   2.845260   2.78068
124855    0.227936  0.204040  0.010664  0.06363   1.084760   1.02113
124856    0.241546  0.232335  0.025767  0.06086   3.497100   3.43624
124857    0.213789  0.208800  0.007911  0.06395   2.040730   1.97678
124862    0.214586  0.181860  0.011247  0.06240   0.922360   0.85996
124863    0.180471  0.128185  0.010103  0.06222   2.251160   2.18894
124864    0.250178  0.219205  0.014851  0.06390   1.487440   1.42354
124911    0.603893  0.505940  0.608585  0.06830  16.559731  16.49143


                222         223
track_id
2         13.316690  262.929749
3         16.673548  325.581085
5         16.013849  356.755737
10        21.317064  483.403809
134       26.454180  751.147705
139        3.897095   37.866043
140       21.981621  562.229431
141       13.481531  232.993546
142       12.598523  346.813049
144       10.123219  146.145737
145        2.973327   20.883089
146        7.770293  109.148003
147        7.666386  106.457314
153       10.046215  165.028473
154        9.752912  158.137177
155        4.016009   25.412144
169        6.099730   58.588337
170        1.587659    3.972482
171        2.717027    8.779112
172        2.504028    8.022845
173        2.764080   15.576363
174        4.349234   30.151398
175       13.315000  215.417297
176        3.760610   22.816252
177        5.471845   37.693455
178        2.480282    8.739681
179        2.052658    5.763410
189       11.737413  205.414581
190       13.954401  280.827118
191       10.470325  180.466766
...             ...         ...
124720     3.053684   22.958864
124721    12.311124  234.199738
124722     6.557301   73.312317
124765     5.034165   52.696571
124775     2.395504   10.963132
124784     2.352240    9.066738
124788     1.550119    7.641384
124796     2.722663    9.907136
124797     1.757867    2.747372
124808     1.890008    9.546632
124809     5.157942   55.510468
124810     3.619253   40.144360
124812     8.185405  145.432098
124814     1.762703    4.733394
124817     2.947344   14.253525
124818     5.541705   56.199059
124819     2.036453    7.258090
124820     2.145525    6.819393
124850     0.567929    1.351650
124851     1.569256    6.007699
124852     2.174237   11.556788
124853     1.494897    7.501858
124854     7.680386  138.166580
124855     1.830207    7.012114
124856     7.827642  138.703949
124857     8.144532  147.040405
124862     1.794739    6.321268
124863     5.578341   89.180328
124864     2.173092   12.503966
124911    15.169022  302.946350

[13129 rows x 249 columns]>

In [48]:
echonest.columns

MultiIndex(levels=[['audio_features', 'metadata', 'ranks', 'social_features', 'temporal_features'], ['000', '001', '002', '003', '004', '005', '006', '007', '008', '009', '010', '011', '012', '013', '014', '015', '016', '017', '018', '019', '020', '021', '022', '023', '024', '025', '026', '027', '028', '029', '030', '031', '032', '033', '034', '035', '036', '037', '038', '039', '040', '041', '042', '043', '044', '045', '046', '047', '048', '049', '050', '051', '052', '053', '054', '055', '056', '057', '058', '059', '060', '061', '062', '063', '064', '065', '066', '067', '068', '069', '070', '071', '072', '073', '074', '075', '076', '077', '078', '079', '080', '081', '082', '083', '084', '085', '086', '087', '088', '089', '090', '091', '092', '093', '094', '095', '096', '097', '098', '099', '100', '101', '102', '103', '104', '105', '106', '107', '108', '109', '110', '111', '112', '113', '114', '115', '116', '117', '118', '119', '120', '121', '122', '123', '124', '125', '126', '127', '128', '129', '130', '131', '132', '133', '134', '135', '136', '137', '138', '139', '140', '141', '142', '143', '144', '145', '146', '147', '148', '149', '150', '151', '152', '153', '154', '155', '156', '157', '158', '159', '160', '161', '162', '163', '164', '165', '166', '167', '168', '169', '170', '171', '172', '173', '174', '175', '176', '177', '178', '179', '180', '181', '182', '183', '184', '185', '186', '187', '188', '189', '190', '191', '192', '193', '194', '195', '196', '197', '198', '199', '200', '201', '202', '203', '204', '205', '206', '207', '208', '209', '210', '211', '212', '213', '214', '215', '216', '217', '218', '219', '220', '221', '222', '223', 'acousticness', 'album_date', 'album_name', 'artist_discovery', 'artist_discovery_rank', 'artist_familiarity', 'artist_familiarity_rank', 'artist_hotttnesss', 'artist_hotttnesss_rank', 'artist_latitude', 'artist_location', 'artist_longitude', 'artist_name', 'danceability', 'energy', 'instrumentalness', 'liveness', 'release', 'song_currency', 'song_currency_rank', 'song_hotttnesss', 'song_hotttnesss_rank', 'speechiness', 'tempo', 'valence']],
           codes=[[0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 3, 3, 3, 3, 3, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4], [224, 237, 238, 239, 240, 246, 247, 248, 225, 226, 233, 234, 235, 236, 241, 228, 230, 232, 243, 245, 227, 229, 231, 242, 244, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223]])

In [49]:
echonest_audio_features = echonest['audio_features']

In [50]:
echonest_audio_features.head()

,acousticness,danceability,energy,instrumentalness,liveness,speechiness,tempo,valence
track_id,,,,,,,,
2,0.416675,0.675894,0.634476,0.010628,0.177647,0.159310,165.922,0.576661
3,0.374408,0.528643,0.817461,0.001851,0.105880,0.461818,126.957,0.269240
5,0.043567,0.745566,0.701470,0.000697,0.373143,0.124595,100.260,0.621661
10,0.951670,0.658179,0.924525,0.965427,0.115474,0.032985,111.562,0.963590
134,0.452217,0.513238,0.560410,0.019443,0.096567,0.525519,114.290,0.894072

In [51]:
echonest_audio_features.describe()

,acousticness,danceability,energy,instrumentalness,liveness,speechiness,tempo,valence
count,1.312900e+04,13129.000000,13129.000000,13129.000000,13129.000000,13129.000000,13129.000000,13129.000000
mean,5.246876e-01,0.487290,0.537516,0.640536,0.187804,0.099174,123.080061,0.439761
std,3.837186e-01,0.190148,0.278049,0.361430,0.158051,0.137381,35.015137,0.276028
min,9.035000e-07,0.051307,0.000020,0.000000,0.025297,0.022324,12.753000,0.000010
25%,1.037726e-01,0.344759,0.321300,0.323466,0.101406,0.036932,95.967000,0.197321
50%,5.739848e-01,0.485635,0.549113,0.838134,0.119002,0.049019,120.057000,0.417743
75%,9.207270e-01,0.629094,0.776254,0.918244,0.211041,0.085452,145.318000,0.665575
max,9.957965e-01,0.968645,0.999964,0.998016,0.980330,0.966177,251.072000,0.999990

In [52]:
echonest_audio_features.to_csv('echonest_audio_features.csv')

In [53]:
filepath='echonest_audio_features.csv'
echonest_audio_features_copy = pd.read_csv(filepath, index_col='track_id')
echonest_audio_features_copy.head()

,acousticness,danceability,energy,instrumentalness,liveness,speechiness,tempo,valence
track_id,,,,,,,,
2,0.416675,0.675894,0.634476,0.010628,0.177647,0.159310,165.922,0.576661
3,0.374408,0.528643,0.817461,0.001851,0.105880,0.461818,126.957,0.269240
5,0.043567,0.745566,0.701470,0.000697,0.373143,0.124595,100.260,0.621661
10,0.951670,0.658179,0.924525,0.965427,0.115474,0.032985,111.562,0.963590
134,0.452217,0.513238,0.560410,0.019443,0.096567,0.525519,114.290,0.894072

In [54]:
tracks.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 106574 entries, 2 to 155320
Data columns (total 10 columns):
year_released    106574 non-null int32
album            105549 non-null object
album_id         106574 non-null int64
artist_id        106574 non-null int64
artist           106574 non-null object
genres_all_id    106574 non-null object
track            106573 non-null object
duration         106574 non-null int64
genre_top        106574 non-null category
genres_all       106574 non-null object
dtypes: category(1), int32(1), int64(3), object(5)
memory usage: 7.8+ MB

In [55]:
echonest_audio_features.head()

,acousticness,danceability,energy,instrumentalness,liveness,speechiness,tempo,valence
track_id,,,,,,,,
2,0.416675,0.675894,0.634476,0.010628,0.177647,0.159310,165.922,0.576661
3,0.374408,0.528643,0.817461,0.001851,0.105880,0.461818,126.957,0.269240
5,0.043567,0.745566,0.701470,0.000697,0.373143,0.124595,100.260,0.621661
10,0.951670,0.658179,0.924525,0.965427,0.115474,0.032985,111.562,0.963590
134,0.452217,0.513238,0.560410,0.019443,0.096567,0.525519,114.290,0.894072

In [56]:
tracks = tracks.loc[tracks.index.isin(echonest_audio_features.index.values)]

In [57]:
tracks.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13129 entries, 2 to 124911
Data columns (total 10 columns):
year_released    13129 non-null int32
album            13129 non-null object
album_id         13129 non-null int64
artist_id        13129 non-null int64
artist           13129 non-null object
genres_all_id    13129 non-null object
track            13128 non-null object
duration         13129 non-null int64
genre_top        13129 non-null category
genres_all       13129 non-null object
dtypes: category(1), int32(1), int64(3), object(5)
memory usage: 988.0+ KB

In [58]:
tracks_labeled = echonest_audio_features.join(tracks, how='inner')
tracks_labeled.head()

,acousticness,danceability,energy,instrumentalness,liveness,speechiness,tempo,valence,year_released,album,album_id,artist_id,artist,genres_all_id,track,duration,genre_top,genres_all
track_id,,,,,,,,,,,,,,,,,,
2,0.416675,0.675894,0.634476,0.010628,0.177647,0.159310,165.922,0.576661,2009,AWOL - A Way Of Life,1,1,AWOL,[21],Food,168,Hip-Hop,[Hip-Hop]
3,0.374408,0.528643,0.817461,0.001851,0.105880,0.461818,126.957,0.269240,2009,AWOL - A Way Of Life,1,1,AWOL,[21],Electric Ave,237,Hip-Hop,[Hip-Hop]
5,0.043567,0.745566,0.701470,0.000697,0.373143,0.124595,100.260,0.621661,2009,AWOL - A Way Of Life,1,1,AWOL,[21],This World,206,Hip-Hop,[Hip-Hop]
10,0.951670,0.658179,0.924525,0.965427,0.115474,0.032985,111.562,0.963590,2008,Constant Hitmaker,6,6,Kurt Vile,[10],Freeway,161,Pop,[Pop]
134,0.452217,0.513238,0.560410,0.019443,0.096567,0.525519,114.290,0.894072,2009,AWOL - A Way Of Life,1,1,AWOL,[21],Street Music,207,Hip-Hop,[Hip-Hop]

In [59]:
tracks_labeled.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13129 entries, 2 to 124911
Data columns (total 18 columns):
acousticness        13129 non-null float64
danceability        13129 non-null float64
energy              13129 non-null float64
instrumentalness    13129 non-null float64
liveness            13129 non-null float64
speechiness         13129 non-null float64
tempo               13129 non-null float64
valence             13129 non-null float64
year_released       13129 non-null int32
album               13129 non-null object
album_id            13129 non-null int64
artist_id           13129 non-null int64
artist              13129 non-null object
genres_all_id       13129 non-null object
track               13128 non-null object
duration            13129 non-null int64
genre_top           13129 non-null category
genres_all          13129 non-null object
dtypes: category(1), float64(8), int32(1), int64(3), object(5)
memory usage: 2.4+ MB

In [60]:
filepath='tracks_cleaned.csv'
tracks_labeled.to_csv(filepath)